/* element styles */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font family 1 */
@font-face {
    font-family: 'Sofia Pro';
    src: url('../fonts/sofia-pro/sofiapro-light.otf') format('opentype');
    
}

/* font family 2 */
@font-face {
    font-family: 'Brown';
    src: url('../fonts/brown/BrownLight\ Regular.ttf') format('truetype');

}

body{
    background: #FFFFFF;
    
}

h1,p{
   font-family: Brown;
   text-align: left;
}

label,input::placeholder,.submit-btn,.footer-text>p{
    font-family: Sofia Pro;
}

h1{

        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        letter-spacing: -0.800000011920929px;
       
}

p{
    
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0px;
}


label{
    font-weight: 600;
    height: 16px;
    color: #011C34;
}

select,input{
 width: 100%;
 height: 20px;
 border-style: none;
 color: grey;
 
}

select option:hover{
 background-color: #2EC4B6;
}


select>:nth-child(1){
    display: none;
}

input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
}

input[type='date']::before{
content: attr(data-placeholder);
color: grey;
width: 100%;

}
input[type='date']:focus::before,input[type='date']:valid::before{
    display: none;
}  



/* class styles */
.container{
    width: 1440px;
    height: 840px;
    background: #FFFFFF;
    display: flex;
    gap: 0;
    position: relative;
     
}


.mobile-header{
    display: none;
}

.details{
    width: 460px;
    height: 275px;
    margin-top: 205px;
    margin-left:140px ;
}

.main-logo{
    width: 77.33px;
    height: 80px;

    
       
}
.main-logo>:nth-child(1){
    width: 100%;
    height: 100%;
}

.form-container {
    width: 580px;
    height: 679px;
    margin-top: 81px;
    padding: 40px;
    margin-left: 120px;
    border-radius: 6px;
    box-shadow: 0px 4px 50px 0px #0408131A;
}

.table {
    width: 100%;
    height: 100%;
    

}

.row {
    display: flex;
    gap: 24px;
    margin-bottom: 40px;
}

.row>:nth-child(2) {
    padding-left: 10px;
}

.col {
    width: 238px;
    height: 72px;
    padding-bottom: 40px;

}
/* input div within table div */
.input-div {
    width: 100%;
    height: 48px;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 16px;
    padding-right: 10px;
    border: 1px solid #F0F0F0;
    display: flex;
    align-items: center;
}


.calendar{
    width: 24px;
    height: 24px;
   
}

.calendar>img {
    width: 100%;
    height: 100%;
  
}

.angle-down{
  width: 24px;
  height: 24px;

}

.angle-down>img{
    width: 10.54px;
    height: 6.25px;
}

.form-bottom{
    height: 72px;
  
    
}

.wide-input{
    display: flex;
    height: 48px;
    align-items: center;
    padding: 16px;
    border: 1px solid #F0F0F0;
    justify-content: space-around;
    
}

.wide-input>div{
    width: 16px;
    height: 16px;
    
       
}

.submit-btn{
    height: 48px;
    background: #2EC4B6;
    color: #FFFFFF;
    box-shadow: 0px 10px 40px 0px #0000001A;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}

.footer-text{
   
    width: 463px;
    height: 25px;
    margin: auto;
}

.footer-text>p{
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.footer-text>p>a{
    color: var(--cl-green, #2EC4B6);
    font-weight: 500;
    text-decoration-line: underline;
}

.mobile-screen{
   display: none;
}


/* mobile version */

@media screen and (max-width:500px) {

    h1{
       
        font-family: Brown;
            font-size: 30px;
            font-weight: 700;
            line-height: 29px;
            letter-spacing: -0.800000011920929px;
            text-align: left;
    }

    p{
       
            font-size: 16px;
            font-weight: 300;
            line-height: 25px;
            letter-spacing: 0px;
            margin-bottom: 90px;
    }
    .container {
        flex-direction: column;
        width: 100vw;
        height: 100%;
        padding: 24px;
        margin-left: 0;
        margin-top: 0;
        border: 1px solid #000000;
    }

   .mobile-header{
            display: block;
            width: 100%;
            margin: auto;
            margin-left: 0;
            margin-bottom: 30px;
        }
        .mobile-header>img{
            width: 100%;
            height: 100%;
        }

        .main-logo{
            margin-bottom: 80px;
        }

    .details{
     margin-left: 0;
     margin-top: 0;
     width: 100%;
      }
      .large-screen{
        display: none;
      }
      .mobile-screen{
        display: block;
      }

     .form-container{
        margin-left: 0;
        width: 100%;
        height: 870px;
        padding: 16px;
        margin-bottom: 24px;
     }
        .row{
            flex-direction: column;
            gap: 30px;
        }

      .row>:nth-child(2){
        padding: 0;
      }

      .col{
        width: 100%;
      }

      .input-div{
            justify-content: space-between;
          }

       .calendar{
        margin-right: 5px;
       }
       .form-bottom{
            width: 100%;
        }

        .submit-btn{
            margin-bottom: 20px;
        }

        .footer-text{
                width: 100%;
               
                
                }
         .footer-text>p{
                font-size: 14px;
                font-weight: 500;
                line-height: 25px;
                letter-spacing: 0px;
                text-align: center;
            
         }
        
}